{% import "./components/buttons.jinja" as btn %} 

{% extends "./layouts/default.jinja" %} 
{% block content %}
<span class="bg-transparent hidden h-0 w-0 opacity-0 overflow-hidden invisible"
  >This is preheader text. Some clients will show this text as a preview.</span
>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="bg-gray-400"
>
  <tr>
    <td class="container">
      <div class="block m-0 p-2">
        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table
                role="presentation"
                border="0"
                cellpadding="0"
                cellspacing="0"
              >
                <tr>
                  <td>
                    <p class="text-3xl">Hi there {{ name }},</p>
                    {{ btn.newPrimaryButton("https://google.com", "Hello") }}
                    <p>
                      Sometimes you just want to send a simple HTML email with a
                      simple design and clear call to action. This is it.
                    </p>
                    <table
                      role="presentation"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      class="btn btn-primary"
                    >
                      <tbody>
                        <tr>
                          <td align="left">
                            <table
                              role="presentation"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      href="http://htmlemail.io"
                                      target="_blank"
                                      >Call To Action</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p>
                      This is a really simple email template. Its sole purpose
                      is to get the recipient to click the button with no
                      distractions.
                    </p>
                    <p>Good luck! Hope it works.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->

        <!-- START FOOTER -->
        <div class="clear-both mt-2 text-center w-full">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="py-2">
                <span>Company Inc, 3 Abbey Road, San Francisco CA 94102</span>
                <br />
                Don't like these emails?
                <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.
              </td>
            </tr>
            <tr>
              <td class="py-2">
                Powered by <a href="http://htmlemail.io">HTMLemail</a>.
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
{% endblock %}
